<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="il.ac.shenkar.MyTrainerIL"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="16"
        android:targetSdkVersion="19"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="il.ac.shenkar.MyTrainerIL.activity.RegisterActivity"
            android:label="@string/app_name" />

        <activity
            android:name="il.ac.shenkar.MyTrainerIL.activity.LoginActivity"
            android:label="@string/login_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>                        
        <activity
            android:name="il.ac.shenkar.MyTrainerIL.activity.MainActivity"
            android:label="@string/main_activity" />

        <activity
            android:name="il.ac.shenkar.MyTrainerIL.activity.SettingsActivity"
            android:label="@string/settings_activity" />                    
        <activity
            android:name="il.ac.shenkar.MyTrainerIL.activity.UserPreferencesActivity"
            android:label="@string/user_prefrences_activity" />            

        <activity
            android:name="il.ac.shenkar.MyTrainerIL.activity.UserPreferencesContActivity"
            android:label="@string/user_prefrences_cont_activity" />  
        <activity
            android:name="il.ac.shenkar.MyTrainerIL.activity.TrainingActivity"
            android:label="@string/training_activity" />            
        <activity
            android:name="il.ac.shenkar.MyTrainerIL.activity.TrainingPlanActivity"
            android:label="@string/training_plan_activity" />            
        <activity
            android:name="il.ac.shenkar.MyTrainerIL.activity.ExerciseActivity"
            android:label="@string/exercise_activity" />            
    </application>

</manifest>
